<h1>Sign in</h1>
<div class="inner_round">
  <%= render 'shared/flash' %>
<%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
    <%= f.label :email %> <br/>
    <%= f.text_field :email %>
    </div>
    <div>
    <%= f.label :password %> <br/>
    <%= f.password_field :password %>
    </div>
    <div class="actions">
    <%= submit_tag "Sign in"%>
    </div>
<% end %>
<p class="inner_msg">New User? <%= link_to "Sign up now!", signup_path %></p>
</div>
