<div class="inner_round">
  <h2>Edit user</h2>
  <%= render 'shared/flash' %>
  <%= form_for @user do |f| %>
      <%= render "user_form", :f => f %>
      <div>
        <%= gravatar_for(@user) %>
        <%= link_to "Change", "http://gravatar.com/emails" %>
      </div>
  <% end %>
</div>
