<div class="users inner_round">
  <h3>All <%=User.count%> users</h3>
  <%= render "shared/flash" %>
  <%= will_paginate %>

  <ul class="users">

       <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
