<table class="profile inner_round">
 <tr> <h1><%= @verbs[0] %></h1> </tr>

  <%= render "shared/flash", :option => {:table=>true} %>
  <tr>
    <td class="main">
      <name>
        <%= gravatar_for(@user) %>
        <small>
          <%=@user.name.capitalize.split(' ')[0] %>
          </small>
      </name>
      <%= render "follow_form" %>
      <% unless @users.empty? %>
          <h3><%= @verbs[1] %></h3>

          <ul class="users">
          <%= render @users %>
          </ul>
          <%= will_paginate @users %>
      <% end %>


    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %>
      <br/>
      <strong>Email </strong><%= mail_to @user.email %>
      <br/>
      <strong>URL </strong> <%= link_to user_path, user_path %>
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render "shared/stats" %>
      <div class="thumbnails">
        <% unless @users.empty?
            @users.each do |u| %>
          <%= link_to gravatar_for(u, :size=>24), user_path(u) %>
                <% end %>
        <%end%>
      </div>

    </td>
  </tr>
</table>
