
<table class="profile inner_round">

    <%= render "shared/flash" %>
    <tr>
    <td>
    <name>
	<%=gravatar_for(@user)%>
	<%= @user.name %>
    </name>
    </td>
    <td class="sidebar round">
    <strong>Name</strong> <%=@user.name%><br/>
    <strong>Email </strong><%=mail_to @user.email%><br/>
    <strong>URL </strong><%=link_to user_path %>
    </td>
    </tr>
</table>
